/* All Pages - H1 */
h1  {
    color: white  ;
    font-family: 'Holtwood One SC', serif;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/* All Pages - H2 */
h2  {
    color: black  ;
    font-family: 'Holtwood One SC', serif;
    font-size: 15px;
}

#ProAm, #Elite, #Minor {
    border-right: black solid;
    border-width: 1px;

}
/* Home Page - Main Picture */
#indexpageimage {
    border-radius: 25px;
}

/* Course Details Page */
.titleColumn {
    font-weight: bold;
}

#teamFullMessage {
    font-size: 20px;
    color: red;
}

/* New Team Page - Center Success Modal Header */
#modalHeader {
    margin: 0 auto;
}

/* All Pages - Hide Alert boxes and buttons */
.hidden, #playerTitle {
    display: none;
}

/* All Pages - Website Title Container */
#titleContainer, #pageContainer {
    background-color: black;
}

/* All Pages - Subtitles */
#subtitles, #subtitles2 {
    font-size: 40px;
}

/* All Pages - Labels */
.allLabels {
    font-weight: bold;
}

#filterLegend, #teamInfoLegend, #managerInfoLegend, #teamLimitsLegend,
#playerInfoLegend {
    font-size: 15px;
    font-weight: bold;
    background-color: antiquewhite;
}

#teamInfoSet, #managerInfoSet, #teamLimitsSet, #playerInfoSet {
    width: 1200px;
    border: thin solid;
    padding: 1px;
}

#addPlayerTeamInfoSet {
    width: 700px;
    border: thin solid;
    padding: 1px;
}

#filterSet {
    border: thin solid;
    padding: 1em;
}

/* All Pages - Horizontal Rule */
hr { 
    border-width: 3px;
}

/* Filter Teams Page - All Buttons */
.teamsBtn, .playersBtn {
    text-align: center;   
 }

/* Media Queries */ 
/* All Pages - Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #siteHeader, #pageHeader {font-size: 20px; margin-top: 7%;}
    #copyright {font-size: 12px;}
    #imagescredit {font-size: 12px;}
    .tables {font-size: 12px;}
    #subtitles {font-size: 30px;}
    #subtitles2 {font-size: 30px;}
    #ProAm, #Elite, #Minor, #Recreational { border-right: none; border-top: solid; border-width: 1px;}
    #selectDivLabel {margin-left: 55px;}
    #filterLegend {font-size: 12px;}
}

/* All Pages - Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #siteHeader {font-size: 40px; margin-top: 5%;}
    #pageHeader {font-size: 35px; margin-top: 5%;}
}

/* All Pages - Small devices (portrait tablets and large phones, 768px and down) */
/* Resize font size for copyright and credits */
@media only screen and (max-width: 768px) {
    #copyright {font-size: 12px;}
    #imagescredit {font-size: 12px;}
}

/* All Pages - Large devices (laptops/desktops, 993px and up) */
@media only screen and (min-width: 993px) {
    #siteHeader {font-size: 55px; margin-top: 3%;}
    #pageHeader {font-size: 40px; margin-top: 4%;}
    #pageContainer {height: 100px; margin-top: -1%;}
} 